@import url('./tailwind.css');

*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

/* animation */

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeUp {
  from {
    filter: alpha(opacity=0);
    opacity: 0;
    transform: translateY(50%);
  }
  to {
      filter: alpha(opacity=100);
      opacity: 1;
      transform: translateY(0);
  }
}